@{
    Layout = "~/Views/Admin/Common/_Layout.cshtml";
}
@*菜单ID*@
<input type="hidden" id="admin-current-menu-id" value="menu-teacherlist" />

<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">教职工列表</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                            <div class="am-form-group tpl-table-list-select">
                                <select data-am-selected="{btnSize: 'sm'}">
                                    <option value="-1">所有岗位</option>
                                    <option value="20001">院长</option>
                                    <option value="30001">系主任</option>
                                    <option value="30002">助理</option>
                                    <option value="30003">讲师</option>
                                    <option value="30004">班主任</option>
                                    <option value="30005">助教</option>
                                </select>
                                <select data-am-selected="{btnSize: 'sm'}">
                                    <option value="-1">所有专业</option>
                                    <option value="20001">院长</option>
                                    <option value="30001">系主任</option>
                                    <option value="30002">助理</option>
                                    <option value="30003">讲师</option>
                                    <option value="30004">班主任</option>
                                    <option value="30005">助教</option>
                                </select>
                                <select data-am-selected="{btnSize: 'sm'}">
                                    <option value="-1">所有班级</option>
                                    <option value="20001">院长</option>
                                    <option value="30001">系主任</option>
                                    <option value="30002">助理</option>
                                    <option value="30003">讲师</option>
                                    <option value="30004">班主任</option>
                                    <option value="30005">助教</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" class="am-form-field " placeholder="教职工姓名">
                                <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                </span>
                            </div>
                        </div>

                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-sm">
                                        <button type="button" class="am-btn am-btn-default am-btn-success am-radius"><span class="am-icon-plus"></span> 添加人员资料</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>姓名</th>
                                        <th>专业</th>
                                        <th>岗位</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX">
                                        <td>1</td>
                                        <td>张三</td>
                                        <td>汽车制造与维修技术专业</td>
                                        <td>讲师,班主任</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a href="javascript:;" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>2</td>
                                        <td>张三</td>
                                        <td>汽车制造与维修技术专业</td>
                                        <td>讲师,班主任</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a href="javascript:;" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>3</td>
                                        <td>张三</td>
                                        <td>汽车制造与维修技术专业</td>
                                        <td>讲师,班主任</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a href="javascript:;" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>4</td>
                                        <td>张三</td>
                                        <td>汽车制造与维修技术专业</td>
                                        <td>讲师,班主任</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a href="javascript:;" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>5</td>
                                        <td>张三</td>
                                        <td>汽车制造与维修技术专业</td>
                                        <td>讲师,班主任</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a href="javascript:;" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="am-u-lg-12 am-cf">
                            <div class="am-fr">
                                <div id="page2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var modelData = {
        pageIndex: 1,
        pageSize: 10,
    };

    $("#page2").page({
        pages: 1,
        first: "首页", //设置false则不显示，默认为false
        last: "尾页", //设置false则不显示，默认为false
        prev: '<', //若不显示，设置false即可，默认为上一页
        next: '>', //若不显示，设置false即可，默认为下一页
        groups: 3, //连续显示分页数
        jump: function (context, first) {
            modelData.pageIndex = context.option.curr;
            console.log('当前第：' + modelData.pageIndex + "页");
            search();
        }
    });

    function search() {
        console.log('查询');
    }

</script>