@{
    Layout = null;
}
@model WebSystemTemplet.Model.HuoDongInfo
<!doctype html>
<html>
<head>
    <title>一元易购物</title>
    <meta charset="utf-8">
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="~/Resources/wap/css/usercenter/meber2.0.css" rel="stylesheet" />
    <script src="~/Resources/wap/js/zepto.min.js"></script>
    <script src="~/Resources/wap/js/shoppingcart.js"></script>
    <style type="text/css">
        .m_header,
        .body {
            max-width: 640px;
        }

        .m_header {
            left: 50%;
            margin-left: -320px;
        }
    </style>
    <script type="text/javascript">function remReSize() { var w = $(window).width(); try { w = $(parent.window).width(); } catch (ex) { }; if (w > 640) { w = 640; }; $('html').css('font-size', 100 / 640 * w + 'px'); $('#js_style_for_pc').remove(); $('body').append('<style id="js_style_for_pc">.m_header{margin-left: -' + w / 2 + 'px;}.m_menu{margin-left: -' + w / 2 + 'px;}</style>'); }; remReSize(); $(window).resize(remReSize); $(document).ready(function () { remReSize(); }); for (var i = 0; i < 3; i++) { setTimeout(remReSize, 100 * i); };</script>
</head>
<body>
    <div class="body">
        <div class="m_header">
            <p>
                <a class="bt_prev" href="javascript:window.history.back();void(0);">
                    <span class="prev rotate45">
                        </span>
                        <span class="prev rotate135"></span>
                </a>
            </p>
            <h1 class="ellipsis bt_title">
                开奖详情
            </h1>
        </div>
        <div class="lib_content" id="js_lib_content">
            <form autocomplete="off" id="js_form">
                @if (Model != null)
                {
                    <div class="m_order" id="order_2016042421212875788">
                        <ul class="m_list m_list_top_line bg_white m_order_list">
                            <li class="link">
                                <a style=" font-size:24px ;background-color: rgb(255,80,0);text-align :center; color:white">
                                    <div style=" height:80px ;line-height: 80px;"> 本期中奖号码：<span style="font-family : Impact; ">@Model.LuckNumber</span></div>
                                </a>
                            </li>
                            <li class="link">
                                <a style=" font-size:14px ;">
                                    <div style="width:140px ;float:left;">购买时间 </div>
                                    <div style="width:130px ;float:left">中奖者昵称 </div>
                                    <div> 购买数量</div>
                                </a>
                            </li>
                            @if (Model.LIstOrderInfo != null)
                            {
                                foreach (var item in Model.LIstOrderInfo)
                                {
                                    <li class="link">
                                        <a style="font-size:14px;background-color:@( item.Numbers.Contains(Model.LuckNumber.ToString()) ? "rgb(255,80,0)" : "white") ;color:@(item.Numbers.Contains(Model.LuckNumber.ToString()) ? "white" : "black")">
                                            <div style=" width:140px ;float:left">
                                                @item.CreateTime
                                            </div>
                                            <div style=" width:130px ;float:left">@( item.NickName.Length > 8 ? item.NickName.Remove(7) + "..." : item.NickName) </div>
                                            <div> @item.StoreCount </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <p style=" text-align:center ;font-size: 14px;margin-top :150px">
                        当前商品还未有人购买
                    </p>
                }
            </form>
        </div>
    </div>
</body>
</html>

