@using WebSystemTemplet.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Organization Chart Plugin</title>
    <link rel="stylesheet" href="~/Resources/adminassets/css/font-awesome.min.css?v=@Config.SourceVersion">
    <link rel="stylesheet" href="~/Resources/adminassets/css/jquery.orgchart.css?v=@Config.SourceVersion">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial;
            font-size: 14px;
            line-height: 1.428571429;
            color: #333333;
        }

        #chart-container {
            position: relative;
            display: inline-block;
            top: 10px;
            left: 10px;
            height: 600px;
            width: calc(100% - 24px);
            border: 2px dashed #aaa;
            border-radius: 5px;
            overflow: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="chart-container" style="min-height:450px;"></div>
    <script src="~/Resources/adminassets/js/jquery.min.js?v=@Config.SourceVersion"></script>
    <script src="~/Resources/adminassets/js/jquery.orgchart.js?v=@Config.SourceVersion"></script>
    <script type="text/javascript">
        $(function () {

            var datascource = {
                'name': 'Lao Lao',
                'title': 'general manager',
                'children': [
                  { 'name': 'Bo Miaomeishfsadf发送到发达省份发生的发萨芬萨芬啥飞洒手动', 'title': 'department manager' },
                  {
                      'name': 'Su Miao', 'title': 'department manager超级场的一个文本又如何哈哈哈哈阿阿凡达斯发顺丰发生大幅啥地方sadf',
                      'children': [
                        { 'name': 'Tie Hua', 'title': 'senior engineer' },
                        {
                            'name': 'Hei Hei', 'title': 'senior engineer',
                            'children': [
                              { 'name': 'Pang Pang', 'title': 'engineer' },
                              { 'name': 'Xiang Xiang', 'title': 'UE engineer' }
                            ]
                        }
                      ]
                  },
                  { 'name': 'Yu Jie', 'title': 'department manager' },
                  { 'name': 'Yu Li', 'title': 'department manager' },
                  { 'name': 'Hong Miao', 'title': 'department manager' },
                  { 'name': 'Yu Wei', 'title': 'department manager' },
                  { 'name': 'Chun Miao', 'title': 'department manager' },
                  { 'name': 'Yu Tie', 'title': 'department manager' }
                ],
            };

            var oc = $('#chart-container').orgchart({
                'data': datascource,
                'nodeContent': 'title',
                'pan': true,
                'zoom': true,
            });

            oc.$chartContainer.on('touchmove', function (event) {
                event.preventDefault();
            });

        });
    </script>
</body>
</html>