@using WebSystemTemplet.Utility
@{
    Layout = "~/Views/Admin/Common/_Layout.cshtml";
}
@*菜单ID*@
<input type="hidden" id="admin-current-menu-id" value="menu-departmentlist" />

<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <ol class="am-breadcrumb">
                            <li class="am-icon-home widget-title">
                                首页
                            </li>
                            <li class="widget-title">
                                组织架构
                            </li>
                            <li class="widget-title">
                                组织架构概览
                            </li>
                        </ol>
                    </div>
                    <div class="widget-body  am-fr" >
                        <iframe src="/admin/msdepartmentinfo/departmenttree.html"style="min-height:650px;width:100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

